/**
 |---------------------------------
 | Colors
 |---------------------------------
 |
 | Contains all the primary colors used throughout the APP
 |
 | @author Felipe Tadeo
 */

 $color-green_light  : rgb(172, 190,  75);
 $color-green        : rgb(126, 160,  45);
 $color-green_dark   : rgb( 72,  78,  38);
 $color-green_neon   : rgb(234, 242, 129);

 $color-yellow_dark  : #FFCC00;

 $color-gray_light   : rgb(235, 235, 235);
 $color-gray_dark    : rgb(100, 102,  82);
 $color-gray_medium  : rgb(179, 178, 168);
 $color-gray         : rgb(132, 134, 111);

 $color-gradient-to_bottom_right : linear-gradient(to bottom left, $color-green, $color-green_light);

// Font colors
 $color-font_pirmary   : black;
 $color-font_secondary : white;

 // Gradients
 $color-gradient_dark :  linear-gradient(to right, rgb(100, 102,  82), rgb(132, 134, 111));
