/**
 |---------------------------------
 | Fonts
 |---------------------------------
 |
 | This contains all the font values used through out the app
 |
 | @author Felipe Tadeo
 */

 $font_primary : Arial;
 $font_secondary : Garamond;

 $font_garamond-pro : GaramondBold, Arial;
