/**
 |---------------------------------
 | Images
 |---------------------------------
 |
 | All image refrences should go here.
 |
 | @author Felipe Tadeo
 */

 $image_waterfall  : url('../img/waterfall.jpg');
 $image_waterfall2 : url('../img/waterfall2.jpg');
 $image_background : url('../img/bg_image.png');
 $image_half-leaf  : url('../img/half_leaf.png');
 $image_top-banner  : url('../img/top_banner.png');
 $image_corner-bush  : url('../img/corner_bush.png');
 $image_corner-bush  : url('../img/corner_bush.png');
 $image_gray-leaf  : url('../img/gray_leaf.png');
 $image_green-bosh  : url('../img/white_green_bosh.png');
